.App {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

.main-content-wrapper {
  padding-top: 130px;
  padding-bottom: 50px;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  padding-left: 6%; 
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
