.homepage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; 
  text-align: center;
  padding-top: 100px; 
}

.welcome-title {
  font-size: 3.0em;
  font-weight: 600;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.welcome-subtitle {
  font-size: 1.5em;
  font-weight: 300;
  margin-top: -10px;
}

.finder-arrow-btn {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50px;
  padding: 3px 100px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.finder-arrow-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.finder-arrow-btn img {
  width: 35px;
  height: 35px;
  filter: none; 
}